.footer {
    width: 100%;
    height: 117px;
    display: flex;
    position: fixed;
    bottom: 0;
    background: #dfe6ed;
    border-top: 1px solid #9eadba;
}

.footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer div p {
    font-size: 26px;
    line-height: 30px;
}
