.distanceFooter {
    width: 100%;
    height: 117px;
}

.footer {
    width: 100%;
    height: 117px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #dfe6ed;
    border-top: 1px solid #9eadba;
}

.poster {
    width: 64px;
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #fff;
    margin: 0 14px 0 10px;
}

.poster img {
    width: 48px;
    height: 72px;
}

.chosenInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chosenInfo p {
    font-size: 24px;
    line-height: 30px;
}
